* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Variables */

:root {

    --bckgnd-color: rgb(100, 100, 170);
    --contrast-color: rgb(160, 160, 30);
    --dark-blue: rgb(60, 60, 170);
    --box-bckbnd-color: antiquewhite;
  }

body {
    background-color: var(--bckgnd-color)
}

/* Header Section*/

header{
    display: block;
    background-color: var(--dark-blue);
    height: 80px;
    position: fixed;
    border-bottom: solid var(--contrast-color) 5px;
    width: 100%;
    z-index: 2;
}

nav{
    float: right;
    padding: 20px;
    }

nav ul{
    display: block;
    top: 10px;
}
nav ul li{
    display: inline-block;
    top: 10px;
    text-align: right;
    margin: 0 50px;
}
nav ul li a{
    font-size: xx-large;
    color: var(--contrast-color);
    font-weight: bold;
}


/* Main Section */


main
{
    padding-top: 100px;    
    display: block;
}

.main-section-headers{
    padding: 20px;
    text-align: center;
    color: var(--dark-blue);
    border-radius: 5px;
    display: block;
    font-size: 150%;   
}

.sub-section{
    padding: 30px;
    }
    
.section-headers{
    font-size: xxx-large;
    margin: 20px;
    color: var(--dark-blue);
}

/* Boxes Enclosures and Containers */

.content-enclosure{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: solid var(--contrast-color);

}

.boxes-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 800px;
}

.extra-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


    /* About Me Section */

.about-box{
    border: solid var(--dark-blue) 5px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: var(--box-bckbnd-color);
    display: inline-flex;
    flex: 0 1 1200px;
}

.about-text{
    border: solid var(--contrast-color) 2px; 
    margin: 10px;
}

.about-text p{
    padding: 20px;
    font-size: x-large;
    line-height: 1.5;
}

.about-img{
    display: inline;
    margin: 10px;
}

.about-img img{
    width: 300px;
    position: relative;
    padding: 5px;
    border: solid var(--contrast-color) 2px;  
}

    /* Project Section */


/* Tall Box */

h3{
    color: var(--dark-blue);
    margin-bottom: 10px;
    font-size: larger;
}

.tall-box{
    border: solid var(--dark-blue) 5px;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    background-color: var(--box-bckbnd-color);
    display: block;
    justify-content: center;
    flex: 0 1 600px;
}

.tall-box-image{
    margin: 10px;
}

.tall-box-image img{
    padding: 5px;
    border: solid var(--contrast-color) 2px;
    width: 550px;
    height: 375px;
}

.tall-box-description{
    margin: 5px;
    text-align: center;
    font-size: x-large;
    display: block;
}

.tall-box-description a{
    font-size: large;
}

/* Boxes */

.box{
    border: solid var(--dark-blue) 5px;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    background-color: var(--box-bckbnd-color);
    display: inline-flex;
    justify-content: center;
    flex: 0 1 600px;
}

.box-image{
    margin: 10px;
}

.box-image img{
    padding: 5px;
    border: solid var(--contrast-color) 2px;
    width: 350px;
    height: 200px;
}

.box-description{
    margin: 5px;
    font-size: large;
    text-align: center;
    border: solid black 1px;
}

.box-description a{
    font-size: medium;
}
.box-description h3{

}


/* Contact Me Section */

/* Small Boxes */

.small-box{
    border: solid var(--dark-blue) 5px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin: 30px;
    padding: 10px; 
    display: block;
    background-color: var(--box-bckbnd-color);
}

.contact-me-box-link{
    display: block;
    text-align: center;
    margin: 35px;
}

.contact-me-box-link a{
    font-size: xx-large;
    color: var(--dark-blue);
    font-weight: bold;
}


/* Footer Section */

footer{
    display: block;
    height: 60px;
    background-color: var(--dark-blue);
    text-align: center;
    border-top: solid var(--contrast-color) 5px;

}

footer h3 {
    padding: 15px;
    z-index: 2;
    color: var(--contrast-color);
}



/* Responsive Layout */

/* Tablets */

@media screen and (max-width: 992px) {
    /* header{
        background-color: #bb8588;
    } */
    nav ul li{
        margin: 0 30px;
    }

    .about-img img{
        width: 350px;
        height: unset;
    }

    .tall-box-image img{
        width: 350px;
    }

    .tall-box, .box{
        display: flex;
        flex-wrap: wrap;
        width: unset;
        /* height: auto; */
        flex: 0 1 400px;
    }
}
  
  /* Large smartphones */

@media screen and (max-width: 768px) {
    /* header {
        background-color: #89bb85;
    } */
    
    nav ul li{
        margin: 0 20px;
    }

    .about-box{
        flex-wrap: wrap;
    }

    nav ul li a{
        font-size: x-large;
    }
}
  
  /* Small smartphones */

@media screen and (max-width: 576px) {
    /* header {
        background-color: #8ac4ff;
    } */

    nav ul li{
        margin: 0 10px;
    }
    

  

}
